.button-style {
  background: #A49956;
  border: 5px solid #A49956;
  border-radius: 5px;
  min-width: 150px;
  height: 40px;
  margin-right: 5px;
}

.button-style .text {
  color: #FFFFFF;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}