.imageLeft {
  margin-top: -69.5px;
  background-image: url('../../assets/spices-25486531_cut_right.png');
  background-repeat: no-repeat;
  background-position: center left;
  height: 100vh;
}

.imageRight {
  margin-top: -69.5px;
  background-image: url('../../assets/spices-25486531_cut_left.png');
  background-repeat: no-repeat;
  background-position: center right;
  height: 100vh;
}