.navbarTextLeft {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  color: #A49956;
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
  float: left;
}

.navbarTextRight {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  color: #A49956;
  font-size: 25px;
  font-weight: bold;
  margin-right: 15px;
}

.navbarColor {
  background: rgba(229, 229, 229, 0.75);
}
