.mainArea {
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.buttonsAreaBank {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttons-row-oneBank {
  display: flex;
  margin-bottom: 10px;

}